
<div class="tile">
<% if project.approved == true %>
 	<p> Name : <%= project.name %> </p>
 	<p> Description : <%= project.desc %> </p>
   	<p> Image: <%= project.image %> </p>
 	<p> Git : <%= project.git %> </p>
 	<p> Registered : <%= project.approved %> </p>

 	<p> Email : <%=  @a = UserProject.all.where(project_id:project.id) %> </p>
 	

		<p> Participants </p>

 			<%  @a.each_with_index do |element,index| %>

 		



 	

 

 


 		<%= User.find(element.user_id).name  %>





<% end %> 


		<% if not action_name == "home" ||  action_name != "public#show"  %>


 		


 		<%= link_to "Show", user_project_path(current_user, Project.find(project.id))  %>	

 		


 		
  	<% if user_signed_in? %>

 		<%= link_to "Edit", edit_user_project_path(current_user, Project.find(project.id) ) %>


		<%= link_to "Delete", user_project_path(current_user, Project.find(project.id)), method: :delete  %>

	<% end %>

	


	<% elsif action_name == "home" %>


	<%= link_to "Show", public_path %>

		


	<% end %>







<br>


	<% end %> 
 	<%= User.find(element.user_id).email %>
		
	<% end %>




 <hr />
<% end %>

	<%= link_to "Show Page", project if action_name == "index" %> ||
	<%= link_to "Edit Page", edit_project_path(project) %>

</div>

