
 <p> Name : <%= project.name %> </p>
 <p> Description : <%= project.desc %> </p>
   <p> Image: <%= project.image %> </p>
 <p> Git : <%= project.git %> </p>
 <p> Registered : <%= project.approved %> </p>

 <hr />
