
 <p> Name : <%= project.name %> </p>
 <p> Description : <%= project.desc %> </p>
   <p> Image: <%= project.image %> </p>
 <p> Git : <%= project.git %> </p>
 <p> Registered : <%= project.approved %> </p>

 <p> Email : <%  UserProject.find_by(params[:project_id]).user_id %> </p>

 <p> <%= User.find(UserProject.find_by(params[:project_id]).users_id).email %> </p>

 <hr />
