<% if project.approved == true || action_name == "index" %>
<div class="tile">

 	<p> Name : <%= project.name %> </p>
 	<p> Description : <%= project.desc %> </p>
   	<p> Image: <%= project.image %> </p>
 	<p> Git : <%= project.git %> </p>
 	<p> Approved :  


 	<% if action_name == "index" %>

 	<%= form_for ([@user, @user.projects.find(project.id)]), :html => {:class =>'check-box'} do |f| %>

 	<%= f.check_box :approved, :class =>'check-box' %>

 	<% f.submit :class => 'check-box' %>


 	<% end %>

 	<% end %>


 	</p>





 	

	<p> <%  @a = UserProject.all.where(project_id:project.id) %> </p>


	<p> Participants </p>

	<%  @a.each_with_index do |element,index| %>


	<%= User.find(element.user_id).email %>


 	


		<%= User.find(element.user_id).name  %>
		
	<% end %> 


	<% if not action_name == "home" || "public#show"  %>


 		<%= link_to "Show", user_project_path(@user, Project.find(project.id ))  %>	


    <% elsif action_name == "home" %>


		<% link_to "Show", public_path(Project.find(project.id)) %>   <%# for some reason doesnt not work when dryer %>


	<% elsif action_name == "home" || "projects#index" %>

	 		<%= link_to "Edit", edit_user_project_path(@user, Project.find(project.id) ) %>


			<%= link_to "Delete", user_project_path(@user, Project.find(project.id)), method: :delete  %>


			<%= link_to "Show", user_project_path(@user, Project.find(project.id)) %>


	<% end %>


<br>


<% end %>





</div>

