<h1>Trainees</h1>

<%= render @user %>

<h3>Projects by this trainee</h3>

<%= render @user.projects %>

<br>

<%= link_to "New Sparta Trainee", new_user_path(@user) %>
<%= link_to "Edit Sparta Trainee", edit_user_path(@user) %>
<%= link_to "Back Sparta Trainee", users_path %>

<%= link_to "Delete Sparta Trainee", @user, method: :delete, data: { confirm: "Are you sure you want to delete this trainee?" } %>