<%# Fields store information about a project, including name, description, image url, git url, and if a project has been approved. %>
<p> Name : <%= project.name %> </p>
<p> Description : <%= project.desc %> </p>
<p> Image: <%= project.image %> </p>
<p> Git : <%= project.git %> </p>
<p> Registered : <%= project.approved %> </p>
<%  @a = UserProject.all.where(project_id:project.id) %> 
<%# Finds user names from User to render with projects. %>
<p> Participants </p>
	<% @a.each_with_index do |element,index| %>
 		<%= User.find(element.user_id).name %>
		<p> Hello </p>
	<% end %>
<%# This link will direct users to a show page of a requested user's project. %>
<%= link_to "Show", user_project_path(User.find(element.user_id), Project.find(project.id)) %>