
<p> <%= user.name %>    <% if user.admin == true %> | Admin <% end %> 

<%= form_for [(user, user.admin)], :html => { :class => 'check-box' } do |f| %>

<%= f.label :admin, :class => 'check-box' %>
<%= f.check_box :admin %>

<% end %>


</p>




<%= link_to "Edit Level" ,edit_user_path(user), :class => 'btn btn-primary' if current_user.admin == true %>




<p>Avatar: <%= user.avatar %> | Date of Birth: <%= user.dateofbirth %>   </p>

<p>Start Date: <%= user.startdate %></p>
<p>Academy: <%= user.academy %> | Start Date: <%= user.startdate %></p>

<p>Language: <%= user.language %> | Stream: <%= user.stream %></p>


<p> Email <%= user.email %> </p>







<%= link_to "Personal Project", user_projects_path(user), :class => 'btn btn-primary' %>

<%= link_to "Approval", edit_user_path(user), :class => 'btn btn-primary' %> 



<hr />


