
<p>Name: <%= user.name %>  Admin: <%= user.admin %> </p> <%= link_to "Edit Level", edit_user_path(user) if current_user.admin == true %>




<p>Avatar: <%= user.avatar %> Date of Birth: <%= user.dateofbirth %>   </p>

<p>Start Date: <%= user.startdate %></p>
<p>Academy: <%= user.academy %> Start Date: <%= user.startdate %></p>

<p>Language: <%= user.language %> Stream: <%= user.stream %></p>


<p> Email <%= user.email %> </p>



<%= link_to "Show Personal Project" %>

<%= link_to "Approval", edit_user_path(user) %> 





<hr />


