<p> <%= user.name %>  <% if user.admin == true %>  Admin <% end %>  

</p>

<hr />
	<tr <% if user.admin == true %> class='green' <% end %> >
      	<th scope="row"> <%= user.id %> </th>
      	<td><%= user.name %> </td>
      	<td> <%= user.email %> </td>
      	<td><% if current_user.id.to_i != user.id.to_i %>
			<%= form_for @users.find(user.id), :html => { :class => 'check-box' } do |f| %>
			<%= f.check_box :admin, :class => 'check-box' %>
			<% end %> 
			<% end %>
		</td>
		<td>
		<%= link_to "Edit", user_projects_path(user), :class => 'btn btn-primary btn-sm' %>
		</td>
		<td>
		<%= link_to "Edit", edit_user_path(user), :class => 'btn btn-primary btn-sm' %>
		</td>
		<td>
		<%= link_to "Edit", edit_user_path(user), :class => 'btn btn-primary btn-sm' if current_user.admin == true %>
		</td>
	</tr>
   
 




