<p> <%= user.name %>  <% if user.admin == true %> | Admin <% end %>  
<p>Current user id is: <%= current_user.id %></p>
	
<% if current_user.id.to_i != user.id.to_i %>
	<%= form_for @users.find(user.id), :html => { :class => 'check-box' } do |f| %>
		<%= f.label :admin, :class => 'check-box' %>
		<%= f.check_box :admin, :class => 'check-box' %>
	<% end %>
<% end %>
</p>
<%= link_to "Edit Level" ,edit_user_path(user), :class => 'btn btn-primary' if current_user.admin == true %>
<%# Fields store information about a user, including name, avatar, date of birth, start date, academy, stream, programming language, email address and if a user is an admin user. %>
<p>Avatar: <%= user.avatar %> | Date of Birth: <%= user.dateofbirth %>   </p>
<p>Start Date: <%= user.startdate %></p>
<p>Academy: <%= user.academy %> | Start Date: <%= user.startdate %></p>
<p>Language: <%= user.language %> | Stream: <%= user.stream %></p>
<p> Email <%= user.email %> </p>
<%# This link will display a users personal project. %>
<%= link_to "Personal Project", user_projects_path(user), :class => 'btn btn-primary' %>
<%# This link will enable projects to be approved. %>
<%= link_to "Approval", edit_user_path(user), :class => 'btn btn-primary' %> 
<hr />






