<h1> Projects </h1>
<br>
<%= form_tag(@projects_path, :method => "get", id: "search-form") do %>
  	<%= text_field_tag :search, params[:search], placeholder: "Search Projects" %>
  	<%= submit_tag "Search",:class => "btn btn-info btn-sm"  %>
<% end %>
<% if @projects.blank? %>
    <h4>There are no projects containing the term "<%= params[:search] %>".</h4>
<% end %>
<hr />


<%= render @projects %> 


<%# form_for (Project.new , public_create_filter_path) do |f| %>
  <%# f.grouped_collection_select :project_id, Project.all ,:id, :name %>


   <%# f.submit %>
<%# end %>







